# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y datos
*.log
*.sqlite3

# Archivos temporales
*.tmp
*.temp
